In [ ]:
import sys
import pandas as pd
import numpy as np

print(sys.version)

3.9.16 (main, Dec  7 2022, 01:11:51)
[GCC 9.4.0]

In [ ]:
# csv 파일 저장 및 불러오기를 위한 구글 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **FIFA Online 4 Open API**
- [FIFA 온라인 4에서 제공하는 Open API](https://developers.nexon.com/fifaonline4)

In [ ]:
# API 사용을 위해 필요한 패키지 준비
import json # Json Object Array 이용
import requests # 호출 위함
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pickle
import datetime as dt
from tqdm.notebook import tqdm

In [ ]:
# 넥슨 개발자 센터에서 API 요청 후 발급된 본인 API 
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiMjAwMDA6MTAiLCJhY2NvdW50X2lkIjoiNjIxNDM2NTQ5IiwiYXV0aF9pZCI6IjQiLCJleHAiOjE3NDM2NTY3MDcsImlhdCI6MTY4MDU4NDcwNywibmJmIjoxNjgwNTg0NzA3LCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIn0.xGAuhIOCYc9XG7X_2BDTHACTxcCGnpW0Kw5qQtLstgg'

## **메타 정보**

### 매치 종류 (matchtype)

In [ ]:
# 데이터 요청
match_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json') # 메타정보 -> 매치 종류 메타데이터 조회의 API 정보의 Request 값    
print(match_url) # <Response [200]> 호출 성공
match_parsed_data = match_url.json() # json 요청 및 파싱
match_type = pd.DataFrame(match_parsed_data)

<Response [200]>

In [ ]:
# 저장
match_type.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/match_type.csv', index=False)

### 선수 고유 식별자 (spid)

In [ ]:
# 데이터 요청
player_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json') # 메타정보 -> 선수 고유 식별자 메타데이터 조회의 API 정보의 Request 값    
print(player_url) # <Response [200]> 호출 성공
player_parsed_data = player_url.json() # json 요청 및 파싱
player_id = pd.DataFrame(player_parsed_data)

<Response [200]>

In [ ]:
# 저장
player_id.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_id.csv', index=False)

### 시즌아이디 (seasonId)

In [ ]:
# 데이터 요청
season_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/seasonid.json') # 메타정보 -> 시즌아이디 메타데이터 조회의 API 정보의 Request 값    
print(season_url) # <Response [200]> 호출 성공
season_parsed_data = season_url.json() # json 요청 및 파싱
season_id = pd.DataFrame(season_parsed_data)

<Response [200]>

In [ ]:
# 저장
season_id.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/season_id.csv', index=False)

### 선수 포지션 (spposition)

In [ ]:
# 데이터 요청
position_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json') # 메타정보 -> 선수 포지션 메타데이터 조회의 API 정보의 Request 값    
print(position_url) # <Response [200]> 호출 성공
position_parsed_data = position_url.json() # json 요청 및 파싱
position_id = pd.DataFrame(position_parsed_data)

<Response [200]>

In [ ]:
# 저장
position_id.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/position_id.csv', index=False)

### 등급식별자 (division)

In [ ]:
# 데이터 요청
division_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/division.json') # 메타정보 -> 등급식별자 메타데이터 조회의 API 정보의 Request 값    
print(division_url) # <Response [200]> 호출 성공
division_parsed_data = division_url.json() # json 요청 및 파싱
division = pd.DataFrame(division_parsed_data)

<Response [200]>

In [ ]:
# 저장
division.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/division.csv', index=False)

## **TOP 10,000 랭커 유저가 사용한 선수의 20경기**
- 특이사항
  - 한 번에 너무 많은 데이터를 요청할 시, 이를 거부하기 때문에 데이터를 150개씩 나누어서 요청

### 요청 가능한 형태의 데이터 생성

In [ ]:
# 선수 고유 식별자와 포지션이 쌍을 이루는 데이터 생성
player_position = []
for i in range(len(player_id)) :
  for j in range(len(position_id)) :
    player_position.append({"id": player_id.id[i], "po" : position_id.spposition[j]})

In [ ]:
# 요청 시 에러가 나지 않는 형태로 데이터 변형
import sys , numpy as np
mod = sys.modules[__name__]
for i in range(len(player_position)//150+1) :
  if i+1 <= len(player_position)//150 :
    setattr(mod, 's{}'.format(i+1),  str(player_position[150*(i):150*(i+1)]).replace("'",'"'))
  else :
    setattr(mod, 's{}'.format(i+1),  str(player_position[150*(i):]).replace("'",'"'))

### 데이터 수집

In [ ]:
for i in range(len(player_position)//150+1) :
  try:
    params = {'matchtype' : 50, 'players' : getattr(mod,  's{}'.format(i+1))}
    headers = {'Authorization' : api_key} 
    ranker_player_url = requests.get('https://api.nexon.co.kr/fifaonline4/v1.0/rankers/status?', \
                                    params, headers = headers)
    ranker_player_data = ranker_player_url.json()
    ranker_player_df = pd.DataFrame(ranker_player_data)
    ranker_player_df.drop('status', axis=1, inplace=True)
    stat = pd.DataFrame()
    for i in range(len(ranker_player_df)) :
      a = pd.DataFrame(ranker_player_data[i]['status'], index=[i])
      stat = pd.concat([stat,a], axis=0)

    ranker_player_df = pd.concat([ranker_player_df,stat], axis=1)
    
    ranker_player = pd.concat([ranker_player,ranker_player_df], axis=0)
    ranker_player.reset_index(drop=True, inplace=True)
  
  # 150개의 '선수 고유 식별자 : 포지션' 데이터가 한 번도 사용되지 않을 경우, 에러 발생
  # 따라서 에러가 발생할 시, 이를 무시하고 계속 데이터가 수집될 수 있도록 예외 처리
  except ValueError :
      pass

In [ ]:
# 저장
ranker_player.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/ranker_player.csv', index=False)

# **FIFA Online 4 홈페이지**
- [FIFA 온라인 4 데이터센터](https://fifaonline4.nexon.com/datacenter)에서 제공하는 선수 정보 크롤링

## 스텟 정보

In [ ]:
# 데이터를 수집하기 위한 데이터프레임 생성
player_stat = pd.DataFrame(
    columns = ['선수고유번호','선수이름','포지션','신장','몸무게','총 능력치',
               '속력','가속력','골 결정력','슛 파워','중거리 슛','위치 선정','발리슛',
               '패널티 킥','짧은 패스','시야','크로스','긴 패스','프리킥','커브',
               '드리블','볼 컨트롤','민첩성','밸런스','반응 속도','대인 수비','태클',
               '가로채기','헤더','슬라이딩 태클','몸싸움','스태미너','적극성','점프',
               '침착성','GK 다이빙','GK 핸들링','GK 킥','GK 반응속도','GK 위치 선정',
               '평가점수']
    )
player_stat['선수고유번호'] = player_id['id']
player_stat['선수이름'] = player_id['name']
player_stat

,선수고유번호,선수이름,포지션,신장,몸무게,총 능력치,속력,가속력,골 결정력,슛 파워,...,스태미너,적극성,점프,침착성,GK 다이빙,GK 핸들링,GK 킥,GK 반응속도,GK 위치 선정,평가점수
0,101000001,데이비드 시먼,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101000051,앨런 시어러,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101000195,로비 파울러,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101000240,로이 킨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101000241,라이언 긱스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61176,511257540,A. 크나우프,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61177,511257889,K. 야키치,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61178,511259307,M. 구스토,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61179,511262621,G. 마마르다슈빌리,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61180,511263781,반데르송,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 크롤링을 위한 패키지 준비
import requests
import lxml.html
import pandas as pd
import sqlite3
from pandas.io import sql
import os
import time
import re
import string
from bs4 import BeautifulSoup

In [ ]:
# 데이터 수집
for i in range(len(player_stat)) :
  j = 6

  a = player_stat['선수고유번호'][i]
  url = f"https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={a}"
  response = requests.get(url)
  root = lxml.html.fromstring(response.content)
  
  p = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[2]/span[1]/span[1]')[0]
  player_stat.loc[i,'포지션'] = p.text

  h = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[3]/span[2]')[0]
  player_stat.loc[i,'신장'] = h.text

  w = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[3]/span[3]')[0]
  player_stat.loc[i,'몸무게'] = w.text

  ovr = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[2]/span[1]/span[2]')[0]
  player_stat.loc[i,'총 능력치'] = int(ovr.text) + 3

  for ul in root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[3]/ul') :
    for li in ul.xpath('li') : 
      s = li.xpath('div[2]')[0]
      player_stat.iloc[i, j] =  int(s.text) + 3
      j += 1

  eval = root.xpath('//*[@id="middle"]/div/div/div[5]/div[2]/div/div[1]/div[1]/div/div[2]')[0]
  player_stat.loc[i,'평가점수'] = eval.text

데이터 크롤링 시, 수집하는 양이 너무 많으면 중간에 에러가 발생한다.
- `for` 구문을 이용하여 데이터를 수집하기 때문에 에러가 발생하기 전까지 수집한 데이터는 그대로 보존된다.
- 따라서 중간에 끊길 시, 아래와 같은 코드 실행
```python
# 이제까지 수집한 데이터 저장
player_stat.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_stat.csv', index=False)
```
```python
# 다시 수집을 시작할 지점
start = len(player_pay['포지션']) - player_pay['포지션'].isna().sum()
```
```python
# 이어서 수집
for i in range(start, len(player_stat)) :
    j = 6

    a = player_stat['선수고유번호'][i]
    url = f"https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={a}"
    response = requests.get(url)
    root = lxml.html.fromstring(response.content)
  
    p = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[2]/span[1]/span[1]')[0]
    player_stat.loc[i,'포지션'] = p.text

    h = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[3]/span[2]')[0]
    player_stat.loc[i,'신장'] = h.text

    w = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[3]/span[3]')[0]
    player_stat.loc[i,'몸무게'] = w.text

    ovr = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[2]/span[1]/span[2]')[0]
    player_stat.loc[i,'총 능력치'] = int(ovr.text) + 3

    for ul in root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[3]/ul') :
      for li in ul.xpath('li') : 
        s = li.xpath('div[2]')[0]
        player_stat.iloc[i, j] =  int(s.text) + 3
        j += 1

    eval = root.xpath('//*[@id="middle"]/div/div/div[5]/div[2]/div/div[1]/div[1]/div/div[2]')[0]
    player_stat.loc[i,'평가점수'] = eval.text
```

In [ ]:
player_stat

,선수고유번호,선수이름,포지션,신장,몸무게,총 능력치,속력,가속력,골 결정력,슛 파워,...,스태미너,적극성,점프,침착성,GK 다이빙,GK 핸들링,GK 킥,GK 반응속도,GK 위치 선정,평가점수
0,101000001,데이비드 시먼,GK,193cm,93kg,104.0,57.0,73.0,51.0,48.0,...,73.0,54.0,80.0,89.0,101.0,108.0,109.0,104.0,106.0,5.5
1,101000051,앨런 시어러,ST,182cm,78kg,110.0,105.0,106.0,117.0,115.0,...,108.0,98.0,107.0,116.0,26.0,24.0,28.0,22.0,24.0,9.0
2,101000195,로비 파울러,ST,175cm,72kg,104.0,104.0,107.0,107.0,107.0,...,98.0,92.0,100.0,104.0,18.0,22.0,19.0,21.0,21.0,7.5
3,101000240,로이 킨,CDM,180cm,76kg,108.0,98.0,96.0,95.0,92.0,...,111.0,118.0,92.0,103.0,25.0,28.0,20.0,20.0,22.0,0.0
4,101000241,라이언 긱스,LM,179cm,71kg,109.0,115.0,114.0,103.0,103.0,...,113.0,110.0,100.0,113.0,26.0,27.0,27.0,29.0,28.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61176,511257540,A. 크나우프,RM,180cm,73kg,83.0,95.0,96.0,74.0,74.0,...,82.0,66.0,74.0,75.0,25.0,29.0,29.0,24.0,30.0,0.0
61177,511257889,K. 야키치,CDM,181cm,75kg,84.0,66.0,85.0,64.0,88.0,...,94.0,94.0,75.0,80.0,26.0,26.0,22.0,26.0,26.0,0.0
61178,511259307,M. 구스토,RB,179cm,74kg,82.0,95.0,92.0,57.0,71.0,...,90.0,83.0,78.0,82.0,26.0,23.0,30.0,27.0,25.0,0.0
61179,511262621,G. 마마르다슈빌리,GK,199cm,88kg,85.0,60.0,60.0,26.0,67.0,...,58.0,40.0,65.0,41.0,88.0,87.0,83.0,88.0,89.0,9.5
61180,511263781,반데르송,RM,180cm,74kg,84.0,88.0,89.0,75.0,74.0,...,85.0,82.0,68.0,83.0,26.0,26.0,24.0,25.0,24.0,0.0

In [ ]:
# 저장
player_stat.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_stat.csv', index=False)

## 급여
- 위 데이터 수집 이후 `급여`가 주요 정보임에도 누락된 것을 확인
- 추가로 수집

In [ ]:
# 데이터를 수집하기 위한 데이터프레임 생성
player_pay = player_stat.copy()
player_pay = player_pay.iloc[:,:2]
player_pay['급여'] = np.nan
player_pay

In [ ]:
# 데이터 수집
for i in range(len(player_pay)) :
  a = player_pay['선수고유번호'][i]
  url = f"https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={a}"
  response = requests.get(url)
  root = lxml.html.fromstring(response.content)
  
  p = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[1]/div[3]/div')[0]
  player_pay.loc[i,'급여'] = p.text

데이터 크롤링 시, 수집하는 양이 너무 많으면 중간에 에러가 발생한다.
- `for` 구문을 이용하여 데이터를 수집하기 때문에 에러가 발생하기 전까지 수집한 데이터는 그대로 보존된다.
- 따라서 중간에 끊길 시, 아래와 같은 코드 실행
```python
# 이제까지 수집한 데이터 저장
player_pay.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_pay.csv', index=False)
```
```python
# 다시 수집을 시작할 지점
start = len(player_pay['급여']) - player_pay['급여'].isna().sum()
```
```python
# 이어서 수집
for i in range(start,len(player_pay)) :
    a = player_pay['선수고유번호'][i]
    url = f"https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={a}"
    response = requests.get(url)
    root = lxml.html.fromstring(response.content)
  
    p = root.xpath('//*[@id="middle"]/div/div/div[2]/div[2]/div/div[1]/div[2]/div[1]/div[3]/div')[0]
    player_pay.loc[i,'급여'] = p.text
```

In [ ]:
player_pay

          선수고유번호        선수이름    급여
0      101000001     데이비드 시먼  20.0
1      101000051      앨런 시어러  25.0
2      101000195      로비 파울러  23.0
3      101000240        로이 킨  24.0
4      101000241      라이언 긱스  24.0
...          ...         ...   ...
61176  511257540     A. 크나우프  13.0
61177  511257889      K. 야키치  14.0
61178  511259307      M. 구스토  12.0
61179  511262621  G. 마마르다슈빌리  12.0
61180  511263781        반데르송  13.0

[61181 rows x 3 columns]

In [ ]:
# 데이터 저장
player_pay.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_pay.csv', index=False)

## 가치
- 최고가, 현재가, 최저가 등의 선수가치는 게임 속에서 거래가 발생함에 따라 계속해서 변동하는 데이터
- 따라서 앞선 방식으로 크롤링 시, 데이터가 수집되지 않음
- 따라서 `selenium`을 통해 별도로 수집
- 특이사항
  - `colab` 환경에서 계속 에러가 발생해서, `anaconda`환경에서 수행
  - `anaconda` 버전 : 4.10.3
  - `anaconda` 내 `python` 버전 : 3.7.7
  - `selenium` 버전 : 3.141.0

```python
# 필요한 패키지 준비
from selenium.webdriver import Chrome
import time
import sqlite3
from pandas.io import sql
import os
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import numpy as np
import random
import sys
```

```python
# 데이터를 수집하기 위한 데이터프레임 생성
player_stat = pd.read_csv('/Users/JGH/Python/웹 크롤링 및 스크래핑/player_stat.csv')
player_price = player_stat.copy()
player_price = player_price.iloc[:,:2]
player_price['최고가'] = np.nan
player_price['현재가'] = np.nan
player_price['최저가'] = np.nan
```

```python
# 크롬 브라우저 실행

options = webdriver.ChromeOptions()
# options.add_argument('--headless')  # 크롬 창이 켜지지 않은 상태로 진행하고 싶은 경우, 해당 라인 주석처리 해제
options.add_argument('--disable-gpu')
options.add_argument("--start-maximized")

driver = webdriver.Chrome('/Users/JGH/chromedriver_mac_arm64/chromedriver', options=options)
```

```python
for i in range(len(player_price)) :
    
    # 사이트 접속
    a = player_price['선수고유번호'][i]
    url = f"https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={a}"
    driver.get(url)
    time.sleep(random.uniform(2,4)) # 사이트에 너무 빠르게 접근이 되면 보안 상 막힐 수 있으니 일정 시간 동안은 멈추게 하기
    
    # 원하는 정보 추출
    high = driver.find_element_by_xpath('//*[@id="PlayerPriceGraph"]/div[2]/div[1]/div/ul/li[1]/strong').text
    current = driver.find_element_by_xpath('//*[@id="PlayerPriceGraph"]/div[1]/div[2]/div/strong').text
    low = driver.find_element_by_xpath('//*[@id="PlayerPriceGraph"]/div[2]/div[1]/div/ul/li[2]/strong').text
    
    player_price.loc[i,'최고가'] = high
    player_price.loc[i,'현재가'] = current
    player_price.loc[i,'최저가'] = low

driver.quit()
```
데이터 크롤링 시, 수집하는 양이 너무 많으면 중간에 에러가 발생한다.
- `for` 구문을 이용하여 데이터를 수집하기 때문에 에러가 발생하기 전까지 수집한 데이터는 그대로 보존된다.
- 따라서 중간에 끊길 시, 아래와 같은 코드 실행
```python
# 이제까지 수집한 데이터 저장
player_price.to_csv('/Users/JGH/Python/웹 크롤링 및 스크래핑/player_price.csv', index=False)
```
```python
# 다시 수집을 시작할 지점
start = len(player_price['최고가']) - player_price['최고가'].isna().sum()
```
```python
# 이어서 수집하기 전, 다시 크롬 브라우저 실행 코드 먼저 실행
# 이어서 수집
for i in range(start,len(player_price)) :
    
    # 사이트 접속
    a = player_price['선수고유번호'][i]
    url = f"https://fifaonline4.nexon.com/DataCenter/PlayerInfo?spid={a}"
    driver.get(url)
    time.sleep(random.uniform(2,4)) # 사이트에 너무 빠르게 접근이 되면 보안 상 막힐 수 있으니 일정 시간 동안은 멈추게 하기
    
    # 원하는 정보 추출
    high = driver.find_element_by_xpath('//*[@id="PlayerPriceGraph"]/div[2]/div[1]/div/ul/li[1]/strong').text
    current = driver.find_element_by_xpath('//*[@id="PlayerPriceGraph"]/div[1]/div[2]/div/strong').text
    low = driver.find_element_by_xpath('//*[@id="PlayerPriceGraph"]/div[2]/div[1]/div/ul/li[2]/strong').text
    
    player_price.loc[i,'최고가'] = high
    player_price.loc[i,'현재가'] = current
    player_price.loc[i,'최저가'] = low
driver.quit()
```

```python
# 데이터 저장
player_price.to_csv('/Users/JGH/Python/웹 크롤링 및 스크래핑/player_price.csv', index=False)
```

In [ ]:
player_price = pd.read_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_price.csv')
player_price

,선수고유번호,선수이름,최고가,현재가,최저가
0,101000001,데이비드 시먼,"2,230,000,000 BP","1,720,000,000 BP","1,207,500,000 BP"
1,101000051,앨런 시어러,"16,125,000,000 BP","5,700,000,000 BP","5,878,181,800 BP"
2,101000195,로비 파울러,"2,087,500,000 BP","1,660,000,000 BP","1,321,666,700 BP"
3,101000240,로이 킨,"3,410,000,000 BP","2,310,000,000 BP","2,195,000,000 BP"
4,101000241,라이언 긱스,"47,600,000,000 BP","47,600,000,000 BP","46,600,000,000 BP"
...,...,...,...,...,...
61176,511257540,A. 크나우프,"3,101,400 BP","1,820,000 BP","1,569,100 BP"
61177,511257889,K. 야키치,"3,602,900 BP","2,060,000 BP","1,734,500 BP"
61178,511259307,M. 구스토,"2,261,400 BP","1,500,000 BP","1,442,700 BP"
61179,511262621,G. 마마르다슈빌리,"5,565,700 BP","3,000,000 BP","2,520,900 BP"
61180,511263781,반데르송,"3,297,100 BP","1,820,000 BP","1,671,800 BP"

## 데이터 통합

In [ ]:
# 불러오기
player_stat = pd.read_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_stat.csv')
player_pay = pd.read_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_pay.csv')
player_price = pd.read_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_price.csv')

In [ ]:
print(player_stat.shape)
print(player_pay.shape)
print(player_price.shape)

(61181, 41)
(61181, 3)
(61181, 5)

In [ ]:
# 세 데이터프레임 모두 선수고유번호와 선수이름을 칼럼으로 가지고 있기 때문에, merge를 통해 데이터 결합
p = pd.merge(player_stat,player_pay)
player_info = pd.merge(p,player_price)
player_info

,선수고유번호,선수이름,포지션,신장,몸무게,총 능력치,속력,가속력,골 결정력,슛 파워,...,GK 다이빙,GK 핸들링,GK 킥,GK 반응속도,GK 위치 선정,평가점수,급여,최고가,현재가,최저가
0,101000001,데이비드 시먼,GK,193cm,93kg,104.0,57.0,73.0,51.0,48.0,...,101.0,108.0,109.0,104.0,106.0,5.5,20.0,"2,230,000,000 BP","1,720,000,000 BP","1,207,500,000 BP"
1,101000051,앨런 시어러,ST,182cm,78kg,110.0,105.0,106.0,117.0,115.0,...,26.0,24.0,28.0,22.0,24.0,9.0,25.0,"16,125,000,000 BP","5,700,000,000 BP","5,878,181,800 BP"
2,101000195,로비 파울러,ST,175cm,72kg,104.0,104.0,107.0,107.0,107.0,...,18.0,22.0,19.0,21.0,21.0,7.5,23.0,"2,087,500,000 BP","1,660,000,000 BP","1,321,666,700 BP"
3,101000240,로이 킨,CDM,180cm,76kg,108.0,98.0,96.0,95.0,92.0,...,25.0,28.0,20.0,20.0,22.0,0.0,24.0,"3,410,000,000 BP","2,310,000,000 BP","2,195,000,000 BP"
4,101000241,라이언 긱스,LM,179cm,71kg,109.0,115.0,114.0,103.0,103.0,...,26.0,27.0,27.0,29.0,28.0,0.0,24.0,"47,600,000,000 BP","47,600,000,000 BP","46,600,000,000 BP"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61176,511257540,A. 크나우프,RM,180cm,73kg,83.0,95.0,96.0,74.0,74.0,...,25.0,29.0,29.0,24.0,30.0,0.0,13.0,"3,101,400 BP","1,820,000 BP","1,569,100 BP"
61177,511257889,K. 야키치,CDM,181cm,75kg,84.0,66.0,85.0,64.0,88.0,...,26.0,26.0,22.0,26.0,26.0,0.0,14.0,"3,602,900 BP","2,060,000 BP","1,734,500 BP"
61178,511259307,M. 구스토,RB,179cm,74kg,82.0,95.0,92.0,57.0,71.0,...,26.0,23.0,30.0,27.0,25.0,0.0,12.0,"2,261,400 BP","1,500,000 BP","1,442,700 BP"
61179,511262621,G. 마마르다슈빌리,GK,199cm,88kg,85.0,60.0,60.0,26.0,67.0,...,88.0,87.0,83.0,88.0,89.0,9.5,12.0,"5,565,700 BP","3,000,000 BP","2,520,900 BP"
61180,511263781,반데르송,RM,180cm,74kg,84.0,88.0,89.0,75.0,74.0,...,26.0,26.0,24.0,25.0,24.0,0.0,13.0,"3,297,100 BP","1,820,000 BP","1,671,800 BP"

In [ ]:
# 분석 목적 상, 선수가치는 불필요한 데이터로 판단하여 다시 제거
player_info.drop(['최고가','현재가','최저가'], axis=1, inplace=True)

In [ ]:
# 저장
player_info.to_csv('/content/drive/MyDrive/Codestates/N200/Project/data/player_info.csv', index=False)